.menuContainerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.menuContainer--subMenuContainer {
  gap: 13px;
  width: 186px;
}
.styledLinkContainer--store {
  border-bottom: 1.2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.styledLinkContainer--store:hover {
  border-bottom: 1.2px solid black;
  cursor: pointer;
}
.styledLinkContent {
  font-size: 16px;
}
@media (max-width: 921px) {
  .menuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}