.closeIconContainer::before {
  content: "Carrito de compra";
  font-size: 15px;
  margin: 15px 10px;
  font-weight: 500;
}
.closeIconButton {
  margin: 7px 1px 0px auto;
  background: #AA4418;
  padding: 7px 9px !important;
  border-radius: 1px;
}
.minicartQuantityBadgeDefault {
  background-color: #c9591b;
  margin-top: -3px;
  margin-right: -7px;
}