.flexCol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexRow--categories-row {
  background-color: #000000;
  padding: 10px 20px; 
}
.flexCol--col__two--text {
  margin-left: 0;
  margin-right: 0;
  max-width: none;
  padding: 3px 5px;
}
/*Categorias*/
.flexRowContent--title-row {
  background-color: black;
}
/*Destacados*/
.flexRow--featured-row {
  max-width: 1200px; 
  margin: 0 auto; 
  padding-bottom: 40px;
}
.flexCol--static-shelf-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center; 
  height: 100%;
  padding: 14px; 
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);  
  margin: 0 8px; 
}
.flexCol--footer-content {
  background-color: #000000;
  padding: 25px;
  padding-bottom: 49px;
  border-top: 2px solid #c9591b;
}
.flexRow--view__container-title {
  max-width: 1200px;
}
.flexRowContent--categories-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 11px;
}
@media (max-width: 600px) {
  .flexRowContent--featured-grid-row  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.flexRow--contenido__tarjeta {
  max-width: 1200px;
  margin: 0 auto 5px auto;
}
.flexRow--contenido__tarjeta--tienda {
  max-width: 1200px;
  margin: 0 auto 36px auto;
}
.flexCol--col__tarjetas {
  margin-bottom: 16px;
  row-gap: 10px;
}
.flexCol--col__tarjetas--almacenamiento {
  margin-bottom: 40px;
}
.flexCol--col__tarjetas--tienda {
  margin-bottom: 35px;
  margin-top: 20px;
}
/*contenedor Plp de productos*/
.flexRow--Contenedor__resultado {
  margin-bottom: 20px;
}
/*contenedor controles 2*/
.flexRow--container--slider__controls {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  width: 85%;
  margin: 0 auto 12px auto;
  border-radius: 12px;
  padding: 10px;
}