.socialNetworksContainer--footer-social-icons {
  user-select: none;
}
.socialNetworkImage--footer-social-icons {
  transition: transform 1.2s ease-in-out;
}
.socialNetworkImage--footer-social-icons:hover {
  transform: rotate(50deg);
}