.buttonText--buy-button {
  color: #c9591b;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid #c9591b;
  padding: 5px;
  border-radius: 5px;
  text-transform: none;
}
.buttonText--buy-button:hover {
  cursor: pointer;
  color: black;
  background-color: #c9591b;
  border: 1px solid black;
  transition: all .3s linear;
}
/* Boton add-to-cart-button#add-to-cart */
.buttonText--buy-button--demo1 {
  color: #c9591b;
  font-size: 12.8px;
  font-weight: 600;
  border: 1px solid #c9591b;
  padding: 6px;
  border-radius: 5px;
  text-transform: none;
}
.buttonText--buy-button--demo1:hover {
  color: black;
  background-color: #c9591b;
  border: 1px solid black;
  cursor: pointer;
  transition: all .3s linear;
}