.sliderLayoutContainer--home-slider-dots {
  padding: 3px 20px 30px 20px !important;
  background-image: url("assets/background/07-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.sliderLayoutContainer .imageElement {
  width: 10%;
  height: 100%;
  object-fit: contain;
}
.paginationDotsContainer--home-slider-dots {
  margin: 10px;
}
.paginationDot--home-slider-dots {
  width: 3px !important;
  height: 3px !important;
}
.paginationDotsContainer--featured-slider {
  top: 320px;
}
.paginationDot--isActive {
  background-color: blue;
}
.sliderLayoutContainer--featured-slider,
.sliderLayoutContainer--categories-slider {
  background-color: transparent; 
  padding: 0; 
}
.slideChildrenContainer--logo-slider {
  margin: 2px;     
  padding: 3px; 
  border: 1px solid #000000;
  border-radius: 8px;
  height: 95px; 
  width: 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}
.slideChildrenContainer--logo-slider:hover {
  transform: scale(1.120);
  border: 1.2px solid #c9591b;
}
.sliderTrack--logo-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px 0;
  background-color: white;
}
.sliderLayoutContainer--logo-slider .slide--logo-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
}
.imageElement--logo-slider {
  max-height: 55px; 
  width: auto; 
  object-fit: contain; 
}
.sliderLayoutContainer {
  padding: 28px 0;
  background-color: white;
}
.sliderLayoutContainer--home__bullet-group {
  width: 94%;
  margin: 0 auto;
  margin-bottom: 40px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 15px;
}
.sliderTrack--home__bullet-group {
  gap: 12px;
}
.slide--home__bullet-group {
  height: 300px;
}
.bullet__item--title--home__bullet-group {
  text-decoration: none;
  color: rgb(152, 143, 143);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}
.slideChildrenContainer--home__bullet-group  {
  height: 300px;
}
.bullet__item--image--home__bullet-group {
  height: 240px;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.caretIcon--home__bullet-group {
  color: #c9591b;
  margin-left: -13px;
}
.sliderArrows--home__bullet-group {
  margin-right: -10px;
}
.paginationDot--home__bullet-group {
  margin-bottom: 10px;
}
/* Product Summary */
.sliderLayoutContainer--product-summary--demo1 {
  max-width: 1100px;
  margin: 0 auto;
}
.slide--product-summary--demo1 {
  border: 1px solid gray;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0 6px;
  padding: 6px;
}